# លាក់ File សម្ងាត់ (សំខាន់បំផុត!)
.env

# លាក់ Folder កញ្ចប់កូដដែលធ្ងន់ៗ
node_modules/

# លាក់ File ផ្ទុកទិន្នន័យបណ្តោះអាសន្ន ឬរូបភាព
data/
public/uploads/

# លាក់ File ឥតបានការរបស់ប្រព័ន្ធប្រតិបត្តិការ
.DS_Store
Thumbs.db